.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
  
  color: white;
  background-color: #282c34;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-image {
  width: 100%;
}

.App input[type=number] {
  width: 80px;
  font-weight: bold;
  color: white;
  background-color: #343c47;
}

.App textarea {
  width: 75%;
  height: 30%;
  font-size: 16px;
  white-space: pre-line;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.apiButton {
  font-weight: bold;
  font-size: calc(10px + 1.5vmin);
}

.grid {
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}

.grid button {
  width: 40px;
  font-weight: bold;
}

.grid>* {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 8px;
  color: white;
  /* box-shadow: inset 0 0 0 1px #fff; */
}

.grid input {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.grid__leftArrow input {
  align-self: flex-end;
}

.grid__leftArrow span {
  align-self: flex-end;
}

.grid__rightArrow input {
  align-self: flex-start;
}

.grid__rightArrow span {
  align-self: flex-start;
}

.grid__verticalArrow input {
  align-self: center;
}

.grid__verticalArrow span {
  align-self: center;
}
